/* --------------------------------- IMPORTS ---------------------------------*/
/* --------------------------------- CONTENT ---------------------------------*/
body {
  background-color: blueviolet;
  color: snow;
  font-family: Arial, Helvetica, sans-serif;
}
/* --------------------------------- EXPORTS ---------------------------------*/
